<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collide San Diego</title>
    <meta name="description" content="This one page example has a fixed navbar and full page height sections. Each section is vertically centered on larger screens, and then stack responsively on smaller screens. Scrollspy is used to activate the current menu item. This layout also has a contact form example. Uses animate.css, FontAwesome, Google Fonts (Lato and Bitter) and Bootstrap." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">



    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="javascripts/d3pie.min.js"></script>

    <link rel="stylesheet" href="stylesheets/boilerplate.css" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
    <link rel="stylesheet" href="stylesheets/map.css" />


  </head>

  <body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" href="#section1"><img src="img/city_icons_1_sm.png" href="#" class="navbar-brand"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-right lato">
                <li><a href="#section2">About Gentrification</a></li>
                <li><a href="#section3">San Diego Data</a></li>
                <li><a href="#section4">Sources</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid" id="section1">
    <div class="v-center">
        <br><br><br><br>
        <h1 id="logoInTitle" class="text-center gentrification intro "><span class="homeTitle animated bounceInLeft">Co</span><img src="img/city_icons_1_title.png" class="animated bounceInLeft"><span class="homeTitle animated bounceInRight">ide</span></h1>
        <h2 class="text-center pt animate slideInDown intro" id="in">S a n&nbsp; D i e g o, &nbsp; C a l i f o r n i a</h2>
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
                <span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </span>
        </div>
    </a>
</section>



<section class="container-fluid" id="section2">
    <div class="container-fluid v-center about" >
        <div class="container-fluid head">
            <h2 class="gentrification animated fadeIn text-center pt">Gentrification</h2>
            <blockquote class="container-fluid mont italic">
                <p>A &nbsp;<span id="collision">collision</span>&nbsp;of socioeconomic classes in an urban district<br> that affects the demographics, housing markets, and culture.</p>
            </blockquote>
        </div>
        <div class="row aboutRow">
            <div class="col-md-3 aboutContent" href="#">
                <div class="aboutInside" id="demo">
                    <img class="aboutImg" id="demo" src="img/demographics.png" href="" alt="demo"/>
                    <h2 class="text-center about-title pt" id="demo">Demographics</h2>
                    <p class="hiddenText" id="demo">An increase in median income, a decline in the proportion of racial minorities, and a reduction in household size, as low-income families are replaced by young singles and couples.</p>
                </div>
            </div>
            <div class="col-md-3 aboutContent">
                <div class="aboutInside" id="market">
                    <img class="aboutImg"  id="market" src="img/house.png" href="" alt="demo"/>
                    <h2 class="text-center about-title pt"  id="market">Real Estate</h2>
                    <p class="hiddenText" id="market">An increase in median income, a decline in the proportion of racial minorities, and a reduction in household size, as low-income families are replaced by young singles and couples.</p>
                </div>
            </div>
            <div class="col-md-3 aboutContent">
                <div class="aboutInside" id="land">
                    <img class="aboutImg" id="land" src="img/city8.png" href="" alt="demo"/>
                    <h2 class="text-center about-title pt"  id="land">Land Use</h2>
                    <p class="hiddenText" id="land">An increase in median income, a decline in the proportion of racial minorities, and a reduction in household size, as low-income families are replaced by young singles and couples.</p>
                </div>
            </div>
            <div class="col-md-3 aboutContent">
                <div class="aboutInside" id="culture">
                    <img class="aboutImg" id="culture" src="img/earth.png" href="" alt="demo"/>
                    <h2 class="text-center about-title pt" id="culture">Culture</h2>
                    <p class="hiddenText" id="culture">An increase in median income, a decline in the proportion of racial minorities, and a reduction in household size, as low-income families are replaced by young singles and couples.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#section3">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
    <!--/container-->
</section>


<section class="container-fluid" id="section3">
    <h2 id="SanDiego" class="text-center">San Diego &nbsp;<span id="year">2012</span></h2>
    <blockquote>As San Diego becomes increasingly urbanized, certain areas are beginning to display symptoms of gentrification.</blockquote>
    <div id="map-data-row" class="row">

        <!-- Left column -->
        <div id="left-map-data" class="col-md-4">
            <div id="age-div" class="subdata"></div>
            <!--<div id="gender-div" class="subdata"></div>-->
            <div id="education-div" class="subdata container-fluid">
                <div class="panel panel-default panel-transparent">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-ed"></h3>
                  </div>
                  <div class="panel-body text-center" id="panel-body-ed"></div>
                </div>
            </div>
            <div id="income-div" class="subdata container-fluid">
                <div class="panel panel-default panel-transparent">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-income"></h3>
                  </div>
                  <div class="panel-body text-center" id="panel-body-income"></div>
                </div>
            </div>
        </div>

        <!-- Middle column -->
        <div id="middle-map-data" class="col-md-4">
            <div id="map"></div>
        </div>

        <!-- Right column -->
        <div id="right-map-data" class="col-md-4">
            <div id="race-div" class="subdata"></div>
            <div id="homevalue-div" class="subdata container-fluid">
                <div class="panel panel-default panel-transparent">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-home"></h3>
                  </div>
                  <div class="panel-body text-center" id="panel-body-home"></div>
                </div>
            </div>
            <!--<div id="income-div" class="subdata container-fluid">
                <div class="panel panel-default panel-transparent">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-income"></h3>
                  </div>
                  <div class="panel-body text-center" id="panel-body-income"></div>
                </div>
            </div>-->
            <!--<div id="education-div" class="subdata container-fluid">
                <div class="panel panel-default panel-transparent">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-ed"></h3>
                  </div>
                  <div class="panel-body text-center" id="panel-body-ed"></div>
                </div>
            </div>-->
        </div>


    </div>
</section>

<section class="container-fluid" id="section4">
    <h2 id="sources" class="text-center">Sources</h2>
    <blockquote>Data from various sources were aggregated and processed to provide you with these visualizations.</blockquote>
    <div class="row sources-row">
        <div class="col-md-7">
            <img class="img-responsive" id="ucsd-logo" align="middle" src="/img/ucsd_logo.png">
        </div>
        <div class="col-md-2">
            <p class="source-info-ucsd">UCSD's DELPHI is a platform that enables integrated access and analysis of all data relevant to health. This platform promotes a more rapid development of empowering, data-driven health apps and tools by a broad community of health-related software developers. All of our relevant data is obtained from DELPHI's data set.</p>
        </div>
    </div>
        <div class="row sources-row">
        <div class="col-md-7">
            <img class="img-responsive" id="zillow-logo" align="middle" src="/img/zillow_logo.png">
        </div>
        <div class="col-md-2">
            <p class="source-info-zillow">Zillow Group is the leading real estate and rental marketplace dedicated to empowering consumers with data, inspiration and knowledge around the place they call home, and connecting them with the best local professionals who can help. We used Zillow's neighborhood boundaries to help us translate the regions defined by the DELPHI data to geodata.</p>
        </div>
    </div>
</section>

<div class="scroll-up">
   <a href="#"><i class="fa fa-angle-up"></i></a>
 </div>

        <footer class="footer-distributed">

            <div class="footer-right lato">

                <p class="footer-links" id="git">View on Github<a href="https://github.com/leta415/gentrif-website"><i class="fa fa-github"></i></a></p>

            </div>

            <div class="footer-left pt">

                <p class="footer-links">
                    <a href="#">Collide San Diego</a>
                    ·
                    <a href="http://www.pbs.org/pov/flagwars/special_gentrification.php">Learn More</a>
                </p>

                <p>MLJA UC San Diego &copy; 2015</p>
            </div>

        </footer>

    <!--scripts loaded here-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/education.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/demographics.js"></script>
    <script src="/javascripts/dataPanels.js"></script>
    <script src="/javascripts/income.js"></script>

    <script src="/javascripts/map.js"></script>
  </body>
</html>