<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collide San Diego</title>
    <meta name="description" content="This one page example has a fixed navbar and full page height sections. Each section is vertically centered on larger screens, and then stack responsively on smaller screens. Scrollspy is used to activate the current menu item. This layout also has a contact form example. Uses animate.css, FontAwesome, Google Fonts (Lato and Bitter) and Bootstrap." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">



    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="javascripts/d3pie.min.js"></script>

    <link rel="stylesheet" href="stylesheets/boilerplate.css" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
    <link rel="stylesheet" href="stylesheets/map.css" />
    <link rel="stylesheet" href="stylesheets/animate.css"
  </head>

  <body >
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" href="#section1"><img src="img/city_icons_1_sm.png" href="#" class="navbar-brand"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <!-- <li><a href="#section1">Home</a></li> -->
                <li><a href="#section2">Gentrified SD</a></li>
                <li><a href="#section3">Demographics</a></li>
                <!--<li><a href="#section4">Data</a></li>-->
                <!-- <li><a href="#section5">Consequences</a></li> -->
                
<!--                 <li><a href="#section5">More</a></li>
                <li><a href="#section6">Last</a></li> -->
                <li>&nbsp;</li>
            </ul>
<!--             <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
            </ul> -->
        </div>
    </div>
</nav>

<section class="container-fluid" id="section1">
    <div class="v-center  bounceInDown animated">
        <br><br><br><br>
        <h1 id="logoInTitle" class="text-center gentrification intro"><span class="homeTitle">Co</span><img src="img/city_icons_1_title.png"><span class="homeTitle">ide</span></h1>
        <h2 class="text-center lato animate slideInDown intro" id="in">S a n&nbsp; D i e g o, &nbsp; C a l i f o r n i a</h2>
<!--         <p class="text-center">
            <br>
            <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Get Free Membership</a>
        </p> -->
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
                <span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </span>
        </div>
    </a>
</section>



<section class="container-fluid" id="section2">
    <div class="container-fluid pull-left v-center" >
        <div class="container-fluid head">
            <h1 class="gentrification animated fadeIn text-center">Gentrification</h1>
            <blockquote class="text-center">
                <p>A &nbsp;<span id="collision">collision</span> &nbsp;of socioeconomic classes in an urban district that affects the demographics, housing markets, and culture.</p>
            </blockquote>
        </div>
        <div class="row">
            <div class="col-md-3 aboutContent" id="demo">
                <h2 class="text-center v-center">Demographics</h2>
            </div>
            <div class="col-md-3 aboutContent" id="market">
                <h2 class="text-center v-center">Real Estate</h2>
            </div>
            <div class="col-md-3 aboutContent" id="land">
                <h2 class="text-center v-center">Land Use</h2>
            </div>
            <div class="col-md-3 aboutContent" id="culture">
                <h2 class="text-center v-centery">Culture</h2>
            </div>

        </div>
    </div>
    <a href="#section3">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
    <!--/container-->
</section>


<section class="container-fluid" id="section3">
    <div class="row">

        <!-- Left column -->
        <div id="left-map-data" class="col-md-4">
            <div id="age-div" class="subdata"></div>
            <div id="gender-div" class="subdata"></div>
        </div>

        <!-- Middle column -->
        <div id="middle-map-data" class="col-md-4">
            <div id="map"></div> 
        </div>

        <!-- Right column -->
        <div id="right-map-data" class="col-md-4">
            <div id="race-div" class="subdata"></div>
            <div id="homevalue-div" class="subdata"></div>
            <div id="income-div" class="subdata"></div>
            <div id="education-div" class="subdata"></div>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container">
        <div id="textbox"> <!--
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Information</h4>
                <ul class="nav">
                    <li><a href="about-us.html">Products</a></li>
                    <li><a href="about-us.html">Services</a></li>
                    <li><a href="about-us.html">Benefits</a></li>
                    <li><a href="elements.html">Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Headquarters</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Customer Service</h4>
                <ul class="nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div> -->
            <p class="alignleft">UCSD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cogs121&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team MLJA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leta He, Jamie Yang, Michael Luo, Andie Romero</p>
            <p class="alignright">©2015</p>
        </div>

        
    </div>
</footer>

<div class="scroll-up">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div>


        

    <!--scripts loaded here-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/education.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/demographics.js"></script>
    <script src="/javascripts/dataPanels.js"></script>
    <script src="/javascripts/income.js"></script>

    <script src="/javascripts/map.js"></script>
  </body>
</html>