@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
  height:100%;
    background:center no-repeat fixed url('/img/gaslamp.jpg');
    background-size: cover;
    color:#444;
    /*font-family: 'Lato', sans-serif;*/
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}
x
a {
    color:#999;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:5px;
}

.btn-danger {
    background-color:#f44d3c;
}

.text-danger, a.text-danger {
    color:#f44d3c;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.pt {
  font-family: 'PT Sans', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#141311;
    color:#B7B7B6;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#f44d3c;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#A2482E;
  color:#FFF;
}

.navbar-trans li>a:hover {
  background-color:#A2482E;
  color:#fff;
  opacity:0.5;
}

.navbar-trans a{
    color: #B7B7B6;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
  padding-top:70px;
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}

#section1, #section3 {
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  font-family: 'Bitter', serif;
}

.gentrification {
  font-size: 6.5em;

}

blockquote {
    text-align: center; 
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table;
    margin-bottom: .8em;
    color: #686766;
}

.italic {
  font-style: italic;
}

#in {
  font-style: italic;
  color:#A2482E;  
}

.intro {
  margin-top: 0;
  margin-bottom: 0;
}

#section4 {
  background-color: #f6f6f6;
  color:#444;
}

#section2 {
  background-color: #141311;
  padding-top: 0;
}
 


.about {
  margin-top: 4em;
}

.what {
  line-height: 1px;
}

#city {
  width: 100px;
  height: 100px;
  text-align: center;
  display: block;
}

.cityName {
  color: #f44d3c;
  font-weight: bold;
}

.subdata {
  margin-bottom: 10px!important;
  margin-top: 10px!important;
}

#income-div{
  visibility: hidden;
}

#education-div {
  visibility: hidden;
}

#homevalue-div {
  visibility: hidden;
}
.panel .panel-default .panel-transparent {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0;
}

.panel-body .panel-heading{
  color: #fff;
  font-size: 50px!important;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
    /*background: rgba(122, 130, 136, 0.2)!important;*/
    background-color:black!important;
    color: #fff;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}


.head {
  color: #fff;
  border-radius: 4px;
  /*border: 1px solid #A2482E;*/
  width: 50%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#collision {
  font-style: italic;
  font-weight: bold;
  color: #A2482E;
  letter-spacing: 2px;
}

.row.aboutRow {
  margin-left: 3%;
}

.aboutContent{
  overflow: auto;
  min-height: 240px;
  color: #fff;
  /*background-color: transparent;*/

}

img.aboutImg {
  margin-left: 30%;
  width: 100px;
}


.aboutInside {
  border-radius: 4px;
  /*border: 1px solid #A2482E;*/
  width: 80%;
  max-width: 280px;

  height: 240px;
  padding-top: 18%;
  margin: 30px auto;
  background-color: #A2482E;
  z-index: 0;
  opacity: .8;
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
  font-size: 25px;
  overflow: hidden;
}

p.hiddenText {
  display: none;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  /*padding-top: 30px;*/
  text-align: left;
  /*position: absolute;*/
  /*color: black;*/
}

#demo {
  /*background-color: #5cb85c;*/
  /*overflow: auto;*/

}

#market {
  /*background-color: #428bca;*/
  /*overflow: auto;*/

}

#land {
  /*background-color: #f0ad4e;*/
  /*overflow: auto;*/

}

#culture {
  /*background-color: #d9534f;*/
  /*overflow: auto;*/
  
}

#section3 {
  background-color: rgba(0,0,0,0.9);
}


span#year{
  font-size: .5em!important;
}

#section5 {
  background-color: #fff;
}

#section6 {
  background-color: #eee;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}

#section7 {
  background-color: #f44d3c;
  color: #f6f6f6;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}

#git {
  font-size: 14px!important;
  color: #B7B7B6!important;
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 0;
  bottom: -100px;
}


.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}



.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
