#cssmenu {
  background: #333;
  list-style: none;
  /*margin-left: 100px;*/
  padding: 0;
  /*width: 18em;*/
  display: inline-block;
}

#cssmenu li {
  font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 16px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("/img/hover.gif") left center no-repeat;
  color: #fff;
  margin: 0;
  /*padding-bottom: 16px;*/
}

#panel {
  /*min-height: 1000px;*/
  background: white;
  text-align: center;
  /*border: 2px solid white;*/
  display: inline-block;
}


.bar {
  fill: #7E8F7C;
}

.bar:hover {
  fill: #3B3738;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background-color: #3B3738;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  /*background: rgba(0, 0, 0, 0.8);*/
  /*color: #fff;*/
  color: #9095D6;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.tooltip::after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n::after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
